template(name="smartEventSummary")
  .container-flex
    .event--details
      .event-name-wrap
        h1.event-name= eventName
        if isInRole "admin"
          +editDetailsButton(target="#smart-event-modal" editing="name" icon="edit")

      p.disease-name
        if disease
          span= disease
        else
          span.not-available No disease available.
          if isInRole "admin"
            +editDetailsButton(target="#smart-event-modal" editing="disease")

      p.date-range
        if dateRange
          span {{formatDateRange dateRange}}
        else
          span.not-available No daterange selected.
          if isInRole "admin"
            +editDetailsButton(target="#smart-event-modal" editing="")

      p.locations
        if locations
          span=locationNames
        else
          span.not-available No locations selected.
          if isInRole "admin"
            +editDetailsButton(target="#smart-event-modal" editing="")

      if summary
        p.summary(class="{{#if collapsed}}collapsed{{/if}}")
          span= summary
        if collapsed
          a.expand(tabindex="0") Expand full event summary
      else
        p.summary.not-available
          span No summary available.
          if isInRole "admin"
            +editDetailsButton(target="#smart-event-modal" editing="summary")

    .event--metadata.container-flex
      .event--metadata--secondary-content.container-flex.no-break
        .secondary-content
          p Created by: #{createdByUserName} on {{formatDate creationDate}}
        .secondary-content
          p Last Modified by: #{lastModifiedByUserName} on
            | {{formatDate lastModifiedDate}}
        .secondary-content
          button.copy-link.btn.btn-xs.btn-default(
            type="button"
            data-clipboard-text="{{urlFor 'smart-event'}}"
            class="{{#if copied}} copied {{/if}}")
            if copied
              i.fa.fa-check(aria-hidden="true")
              span Coppied
            else
              i.fa.fa-share-alt(aria-hidden="true")
              span Copy Event Link

  +editSmartEventDetailsModal
