template(name="curatorSourceDetails")
  with source
    .curator-inbox-header.curator-source-details--header(class="{{#if isReviewed}} reviewed {{/if}}")
      +curatorUserStatus selectedSourceId=selectedSourceId
      h2(id="sourceDetailsTitle" data-toggle="tooltip" data-placement="bottom")
        .back-to-list
          i.fa.fa-chevron-circle-left(title="Return to source list")
        a(href="https://promedmail.org/post/#{_sourceId}" target="_blank")= title
      .curator-source-details--options
        button.btn.btn-success.toggle-reviewed(class="{{#if isReviewed}} reviewed {{/if}}")
          if isReviewed
            span Reviewed
          else
            span Mark Reviewed
      if notifying
        .notification
          .checks
            i.fa.fa-check-circle.confirmation(aria-hidden="true")
            .circle
          p Preparing next source
      .transition(class="{{#if notifying}} active {{/if}}")
    .curator-source-details--content
      if incidentsLoaded
        .curator-source-details--copy-wrapper
          .curator-source-details--copy= annotatedContent
        .curator-source-details--table
          +incidentTable incidents=incidents scrollToAnnotations=true
        if notifying
          .veil
      else
        +loading message="Processing Source"
