template(name="curatorInbox")
  .pane-container.curator-inbox
    .curator-inbox-header.pane-head.pane-head-l
      h2 Inbox
      .curator-inbox-options
        a.option.curator-filter-reviewed-icon(
          class="{{#unless reviewFilterActive}} active {{/unless}}"
          data-toggle="tooltip"
          title="Show/Hide Reviewed")
          i.fa.fa-check-circle
        a.option.curator-filter-calendar-icon(
          class="{{#if calendarState}} active {{/if}}"
          data-toggle="tooltip"
          title="Filter by Date Range")
          i.fa.fa-calendar
        .option.input-wrapper(class="{{#unless searching}} stagged {{/unless}}")
          input#curator-inbox-article-filter.form-control.icon-right(type="text" placeholder="Search inbox")
          i.fa.fa-search.search-icon.right(
            data-toggle="tooltip"
            title="Search")
    .curator-inbox-sources.pane.pane-l.curator-inbox--pane
      .curator-inbox-datepicker(class="{{#if calendarState}} active {{/if}}")
        .text-center
          #date-picker.inlineRangePicker
        .text-center
          a#calendar-btn-apply.btn.btn-primary(href="") Apply
          a#calendar-btn-reset.btn.btn-primary(href="") Reset
          a#calendar-btn-cancel.btn.btn-default(href="") Cancel
      .curator-inbox-source-list
        if isReady
          each day in days
            +curatorInboxSection(
              date=day
              index=@index
              reviewFilter=reviewFilter
              textFilter=textFilter
              selectedSourceId=selectedSourceId)
        else
          .loading
    if isReady
      .curator-source-details.pane.pane-r.curator-inbox--pane
        +curatorSourceDetails selectedSourceId=selectedSourceId query=query

template(name="curatorInboxSection")
  if count
    .curator-inbox-section-head
      .date= formattedDate
      .count #{count} sources
      .toggle
        i.fa.fa-lg
          if isOpen
            i.fa.fa-chevron-circle-down
          else
            i.fa.fa-chevron-circle-left
    if isOpen
      +reactiveTable(
        collection=posts
        settings=settings
        selector=selector
        class="table table-hover curator-inbox-table")

template(name="curatorSourceDetails")
  with source
    .curator-inbox-header.curator-source-details-header(class="{{#if isReviewed}} reviewed {{/if}}")
      h2(data-toggle="tooltip" title=title data-placement="bottom")= title
      .curator-source-details-options
        .controls
          i.fa.fa-align-left.toggle-source-content(
            class="{{#if contentIsOpen}} active {{/if}}"
            data-toggle="tooltip"
            data-placement="left"
            title="Toggle source text")
        button.btn.btn-success.toggle-reviewed(class="{{#if isReviewed}} reviewed {{/if}}")
          if isReviewed
            span Reviewed
          else
            span Mark Reviewed
      if notifying
        .notification
          .checks
            i.fa.fa-check-circle.confirmation
            .circle
          p Preparing next source
      .transition(class="{{#if notifying}} active {{/if}}")
    .curator-source-details-content
      if contentIsOpen
        .curator-source-details-copy-wrapper
          .curator-source-details-copy= content
      +curatorEvents selectedSourceId=selectedSourceId
      if notifying
        .veil
