template(name="curatorEvents")
  .associated-events.curator-events
    .curator-events-header
      h3 Associated Events
      +curatorUserStatus selectedSourceId=selectedSourceId
      .curator-events--options
        button.btn.btn-default.btn-sm.btn-wide.add-new-event
          i.fa.fa-plus-circle
          span Add New Event
    if associatedUserEvents.count
      table#associated-events.table.curator-events-table.static-rows
        tbody
          each associatedUserEvents
            tr
              td
                +curatorEventSearchRow(
                  associated=true
                  eventName=eventName
                  _id=_id)
    else
      p.no-events.muted-text Currently no associated events

  .suggested-events.curator-events
    +suggestedEvents selectedSourceId=selectedSourceId associatedEventIdsToArticles=associatedEventIdsToArticles

  .all-events.curator-events
    .curator-events-header.all-events.toggleable
      h4 All Events
      .curator-events--options
        .filter-wrapper(class="{{#unless allEventsOpen }} subtle {{/unless}}")
          +reactiveTableFilter(
            id="curatorEventsFilter"
            label=" "
            class="with-icon no-addon")
        .curator-events-collapse
          if allEventsOpen
            i.fa.fa-lg.fa-chevron-circle-down
          else
            i.fa.fa-lg.fa-chevron-circle-left
    if allEventsOpen
      +reactiveTable collection=userEvents settings=settings
  +editEventDetailsModal

template(name="noAssociatedEvents")
  p.muted-text Currently no associated events

template(name="noCuratorEvents")
  .no-results
    p No Events Found
    button.btn.btn-primary.btn-wide.add-new-event.space-top-2(data-editing='name')
      | Add New Event

template(name="curatorEventSearchRow")
  a(class="{{#if associated}} disassociate{{else}} associate{{/if}}-event"
    tabindex="0")
    i.fa
    span=eventName
  .secondary-actions
    if associated
      button.btn.btn-sm.btn-primary.suggest-incidents
        i.fa.fa-plus-circle
        span Incident
    a.fa.fa-info-circle.event-info(href="/user-event/#{_id}" target="_blank")

template(name="curatorEventIncidents")
  td(colspan="2" class="tr-incidents-wrapper")
    +reactiveTable(
      collection="curatorEventIncidents"
      settings=settings)
