template(name="curatorSourceDetails")
  with source
    .curator-inbox-header.curator-source-details--header(class="{{#if isReviewed}} reviewed {{/if}}")
      +curatorUserStatus selectedSourceId=selectedSourceId
      h2(id="sourceDetailsTitle" data-toggle="tooltip" data-placement="bottom")
        .back-to-list
          i.fa.fa-chevron-circle-left(title="Return to source list")
        a=title
      if notifying
        .notification
          .checks
            i.fa.fa-check-circle.confirmation(aria-hidden="true")
            .circle
          p Preparing next source
      .transition(class="{{#if notifying}} active {{/if}}")
    .curator-source-details--content
      if incidentsLoaded
        .curator-source-details--copy-wrapper
          .curator-source-details--actions.container-flex.no-break
            button.btn.btn-success.btn-sm.toggle-reviewed(class="{{#if isReviewed}} reviewed {{/if}}")
              if isReviewed
                span Reviewed
              else
                span Mark Reviewed
          if addingSourceToEvent
            +addToEvent(source=source)
          .curator-source-details--copy
            +annotatedContent(
              content=source.enhancements.source.cleanContent.content
              incidents=incidents
              relatedElements=relatedElements
              source=source)
        if wideUI
          .curator-source-details--incidents-container
            +sourceIncidentReports(
              selectedIncidentTab=selectedIncidentTab
              source=source)
        else
          +sourceIncidentReports(
              selectedIncidentTab=selectedIncidentTab
              source=source)
        if notifying
          .veil
      else
        +loading message="Processing Source"
