template(name="curatorInbox")
  .pane-container.curator-inbox
    .curator-inbox-header.pane-head.pane-head-l
      h2 Inbox
      .curator-inbox-options
        a.option.curator-filter-reviewed-icon(
          class="{{#unless reviewFilterActive}} active {{/unless}}"
          data-toggle="tooltip"
          title="Show/Hide Reviewed")
          i.fa.fa-check-circle
        a.option.curator-filter-calendar-icon(
          class="{{#if calendarState}} active {{/if}}"
          data-toggle="tooltip"
          title="Filter by Date Range")
          i.fa.fa-calendar
        +searchInput searchSettings

    .curator-inbox-sources.pane.pane-l.curator-inbox--pane
      .curator-inbox-datepicker(class="{{#if calendarState}} active {{/if}}")
        .text-center
          #date-picker.inlineRangePicker
        .text-center
          a#calendar-btn-apply.btn.btn-primary(href="") Apply
          a#calendar-btn-reset.btn.btn-primary(href="") Reset
          a#calendar-btn-cancel.btn.btn-default(href="") Cancel
      .curator-inbox-source-list
        if isReady
          each day in days
            +curatorInboxSection(
              date=day
              index=@index
              reviewFilter=reviewFilter
              textFilter=textFilter
              selectedSourceId=selectedSourceId)
          button.btn.btn-primary.btn-wide.back-to-top.space-top-2(type="button" title="Click to return on the top page." data-toggle="tooltip")
            i.fa.fa-caret-square-o-up
            span Back to Top
        else
          .loading
    if isReady
      .curator-source-details.pane.pane-r.curator-inbox--pane
        +curatorSourceDetails selectedSourceId=selectedSourceId query=query
