template(name="curatorInbox")
  .pane-container.curator-inbox
    .curator-inbox-header.pane-head.pane-head-l(
      class="{{#unless detailsInView }} on-canvas {{/unless}}")
      h2 Inbox
      .curator-inbox-options
        a.option.curator-filter-reviewed-icon.plain-focus(
          class="{{#unless reviewFilterActive}} active {{/unless}}"
          data-toggle="tooltip"
          title="Show/Hide Reviewed"
          tabindex="0")
          i.fa.fa-check-circle(aria-hidden="true")
        a.option.curator-filter-calendar-icon.plain-focus(
          class="{{#if calendarState}} active {{/if}}"
          data-toggle="tooltip"
          title="Filter by Date Range"
          tabindex="0")
          i.fa.fa-calendar(aria-hidden="true")
        +searchInput searchSettings

    .curator-inbox-sources.pane.pane-l.curator-inbox--pane(
      class="{{#if detailsInView}} off{{else}}on{{/if}}-canvas")
      .curator-inbox-datepicker(class="{{#if calendarState}} active {{/if}}")
        #date-picker.inlineRangePicker
        .curator-inbox-datepicker--controls.container-flex.central.no-break
          button#calendar-btn-apply.btn.btn-primary(type="button") Apply
          if userHasFilteredByDate
            button#calendar-btn-reset.btn.btn-default(type="button") Reset
      if isReady
        .curator-inbox-source-list
          each day in days
            +curatorInboxSection(
              date=day
              index=@index
              reviewFilter=reviewFilter
              textFilter=textFilter
              selectedSourceId=selectedSourceId
              currentPaneInView=currentPaneInView)
      else
        +loading static=true
    #touch-stage.curator-source-details.pane.pane-r.curator-inbox--pane(
      class="{{#if detailsInView}} on{{else}}off{{/if}}-canvas")
      if isReady
        +curatorSourceDetails(
          selectedSourceId=selectedSourceId
          query=query
          currentPaneInView=currentPaneInView)
    button.btn.btn-primary.btn-wide.back-to-top(
      class="{{#if detailsInView}} off{{else}}on{{/if}}-canvas"
      type="button"
      title="Click to return on the top page."
      data-toggle="tooltip")
      i.fa.fa-chevron-circle-up
      span Back to Top
