template(name="curatorSourceDetails")
  with source
    .curator-inbox-header.curator-source-details--header(class="{{#if isReviewed}} reviewed {{/if}}")
      +curatorUserStatus selectedSourceId=selectedSourceId
      h2(id="sourceDetailsTitle" data-toggle="tooltip" data-placement="bottom")
        .back-to-list
          i.fa.fa-chevron-circle-left(title="Return to source list")
        a(href="/curator-inbox/article/{{_id._str}}")=title
      if notifying
        .notification
          .checks
            i.fa.fa-check-circle.confirmation(aria-hidden="true")
            .circle
          p Preparing next source
      .transition(class="{{#if notifying}} active {{/if}}")
    .curator-source-details--content
      if incidentsLoaded
        .curator-source-details--copy-wrapper
          .curator-source-details--actions.container-flex.no-break
            if reviewStarted
              button.btn.btn-success.btn-sm.toggle-reviewed(class="{{#if reviewed}} reviewed {{/if}}")
                if reviewed
                  span Reviewed: {{formatDate reviewedDate}}
                else
                  span Mark Reviewed
              if reviewed
                if QCStart
                  button.btn.btn-success.btn-sm.toggle-qced(class="{{#if QCEnd}} qced {{/if}}")
                    if QCEnd
                      span QC Finished: {{formatDate QCEnd}}
                    else
                      span Mark QCed
                  unless QCEnd
                    span.status QC started by: {{usernameForId QCStartedBy}}
                else
                  button.btn.btn-success.btn-sm.start-qc Start QC
              else
                span.status Review started by: {{usernameForId reviewStartedBy}}
            else
              button.btn.btn-success.btn-sm.start-review Start Review

          if addingSourceToEvent
            +addToEvent(source=source)
          .curator-source-details--copy
            +annotatedContent(
              content=source.enhancements.source.cleanContent.content
              incidents=incidents
              relatedElements=relatedElements
              source=source)
        if wideUI
          .curator-source-details--incidents-container
            +sourceIncidentReports(
              selectedIncidentTab=selectedIncidentTab
              source=source)
        else
          +sourceIncidentReports(
              selectedIncidentTab=selectedIncidentTab
              source=source)
        if notifying
          .veil
      else
        +loading message="Processing Source"
