template(name="curatorInbox")
  .pane-container.curator-inbox
    if isReady
      .curator-inbox-header.pane-head.pane-head-l(
        class="{{#unless detailsInView }} on-canvas {{/unless}}")
        h2 Inbox
        .curator-inbox-options
          a.option.curator-filter-reviewed-icon.plain-focus(
            class="{{#unless reviewFilterActive}} active {{/unless}}"
            data-toggle="tooltip"
            title="Show/Hide Reviewed"
            tabindex="0")
            i.fa.fa-check-circle(aria-hidden="true")
          a.option.curator-filter-calendar-icon.plain-focus(
            class="{{#if calendarState}} active {{/if}}"
            data-toggle="tooltip"
            title="Filter by Date Range"
            tabindex="0")
            i.fa.fa-calendar(aria-hidden="true")
          +searchInput searchSettings

      .curator-inbox-sources.pane.pane-l.curator-inbox--pane(
        class="{{#if detailsInView}} off{{else}}on{{/if}}-canvas")
        .curator-inbox-datepicker(class="{{#if calendarState}} active {{/if}}")
          .text-center
            #date-picker.inlineRangePicker
          .text-center
            a#calendar-btn-apply.btn.btn-primary(href="") Apply
            a#calendar-btn-reset.btn.btn-primary(href="") Reset
            a#calendar-btn-cancel.btn.btn-default(href="") Cancel
        .curator-inbox-source-list
          each day in days
            +curatorInboxSection(
              date=day
              index=@index
              reviewFilter=reviewFilter
              textFilter=textFilter
              selectedSourceId=selectedSourceId
              currentPaneInView=currentPaneInView)
      .curator-source-details.pane.pane-r.curator-inbox--pane(
        class="{{#if detailsInView}} on{{else}}off{{/if}}-canvas")
        +curatorSourceDetails(
          selectedSourceId=selectedSourceId
          query=query
          currentPaneInView=currentPaneInView)
      button.btn.btn-primary.btn-wide.back-to-top(
        class="{{#if detailsInView}} off{{else}}on{{/if}}-canvas"
        type="button"
        title="Click to return on the top page."
        data-toggle="tooltip")
        i.fa.fa-chevron-circle-up
        span Back to Top
    else
      +loading
