template(name="sourceIncidentReports")
  .curator-source-details--incidents(
    class="{{#unless tableContentIsScrollable}} no-scroll {{/unless}}")
    .tab-content
      .tab-pane(class="{{#if selectedIncidentTab 0}} active {{/if}}")
        +incidentTable(
          source=source
          scrollToAnnotations=true
          accepted=true
          hideTableHeader=true
          tableContentScrollable=tableContentScrollable)
      .tab-pane(class="{{#if selectedIncidentTab 1}} active {{/if}}")
        +incidentTable(
          source=source
          scrollToAnnotations=true
          accepted=false
          hideTableHeader=true
          tableContentScrollable=tableContentScrollable)
