template(name="sourceIncidentReports")
  .curator-source-details--incidents-options
    ul.tabs
      li(class="{{#if selectedIncidentTab 0}} active {{/if}}")
        a(data-tab='0')
          span Accepted
          span Incidents
      li(class="{{#if selectedIncidentTab 1}} active {{/if}}")
        a(data-tab='1')
          span Rejected
          span Incidents
  .curator-source-details--incidents(
    class="{{#unless tableContentIsScrollable}} no-scroll {{/unless}}")
    .tab-content
      .tab-pane(class="{{#if selectedIncidentTab 0}} active {{/if}}")
        +incidentTable(
          source=source
          scrollToAnnotations=true
          accepted=true
          hideTableHeader=true
          tableContentScrollable=tableContentScrollable)
        .container-flex.central.space-top-2
          button.btn.btn-default.add-incident Add New Incident
      .tab-pane(class="{{#if selectedIncidentTab 1}} active {{/if}}")
        +incidentTable(
          source=source
          scrollToAnnotations=true
          accepted=false
          hideTableHeader=true
          tableContentScrollable=tableContentScrollable)
