template(name="mapFilters")
  .map-menu
    .search-wrap
      i.fa.fa-calendar.toggle-calendar-state(class="{{#if calendarState}} showing {{/if}}")
      +searchInput searchSettings
    if calendarState
      +dateSelector(dateVariables=dateVariables filtering=filtering)
    ul.map-event-list.list-group
      each getEvents
        li.map-event-list--item.list-group-item(class="{{#if selected}} selected {{/if}}")
          span.name=eventName
          span.date Last Incident Date: {{formatDate lastIncidentDate}}
          .circle(style="background-color:rgb(#{rgbColor})")
      else
        +noResults message='No results'

      if getEvents
        .map-event-list--nav
          .event-list-prev(title="Older" class="{{#if disablePrev}} disabled {{/if}}")
            i.fa.fa-chevron-left
          .event-list-next(title="Newer" class="{{#if disableNext}} disabled {{/if}}")
            i.fa.fa-chevron-right
          span.deselect-all(
            class="{{#if eventsAreSelected}} active {{/if}}") Deselect events
