template(name="markerPopup")
  .popup
    .popup--title
      h4= location
    ul.list-unstyled
      each getEvents
        li
          .popup--event.container-flex.vertically-centered
            svg.popup--event--marker-color-spot
              circle(fill="rgb(#{mapColorRGB})" r="8" cx="8" cy="8")
            .popup--event--content
              a(href="{{pathFor 'user-event' _id=id}}")=eventName
              .popup--incidents-text
                with getMostSevere incidents
                  if count
                    span.popup--incidents-text--label Most Severe:
                    span #{count} #{type} on {{formatDate dateRange.start}}

template(name="markerPopupMinimal")
  .popup
    .popup--title
      h4= location
    .popup--content
      p Added on {{ formatDate addedDate }}
