template(name="articles")
  .heading.container-fluid-padded
    h2 Event Sources
  .container-flex.no-gutter
    .flex-col.bordered
      if articles.length
        .tab-form.container-flex.no-border.break-2
          .flex-col
            +sourceModalButton
          .flex-col
            +searchInput searchSettings
        +reactiveTable collection=articles settings=getSettings

      else
        .col-lg-8
          p There are no articles currently associated with this event.
        .col-lg-4.col-sm-12
          +sourceModalButton
    .flex-col.event-sources-detail
      if selectedSource
        .event-sources-detail--header
          h4= selectedSource.title
        .container-flex.break-2
          ul.event-source-links.container-flex.list-unstyled.no-break
            li.edit-source.link(
                data-toggle="tooltip"
                data-placement="bottom"
                title="Edit Source")
              span
                i.fa.fa-edit
            li.delete-source.link(
                data-toggle="tooltip"
                data-placement="bottom"
                title="Delete Source")
              span
                i.fa.fa-trash
            li.link
              a.ref-link(
                href="http://{{selectedSource.url}}"
                target="_blank"
                rel="noopener noreferrer"
                data-toggle="tooltip"
                data-placement="bottom"
                title="View Original Source")
                i.fa.fa-link
          ul.event-source-info.container-flex.list-unstyled.no-break
            li Published on {{formatDate selectedSource.publishDate}}
            li Submitted by {{selectedSource.addedByUserName}} on {{formatDate selectedSource.addedDate}}
        .event-source-summary.container-flex
          .event-source-summary--item
            h5 Locations
            ul.list-unstyled
              each locationsForSource selectedSource.url
                li= this
              else
                li No locations
          .event-source-summary--item
            h5 Incident Reports
            ul.list-unstyled
              each incidentsForSource selectedSource.url
                li {{incidentToText this}}
              else
                li No cases
      else
        h4.make-selection Please select a source


template(name="article")
  li.list-group-item
    .row
      .col-sm-10
        a.ref-link(href="{{url}}" target="_blank" rel="noopener noreferrer") {{url}}
          i.fa.fa-external-link
        if publishDate
          p
            small {{publishDate}}
      .col-sm-2.col-xs-6
        if isInRole "admin"
          button.btn.btn-danger.btn-sm.btn-block.delete-article Delete

template(name="articleSelect2")
  select.article-select2.form-control.select2(
    id="{{selectId}}"
    name="{{selectId}}"
    multiple="{{multiple}}"
    required
    data-error="Please select a source.")
    unless multiple
      option(value="")
    each articles
      option(value="{{_id}}") {{url}}

template(name="sourceModalButton")
  if isInRole "admin"
    button.btn.btn-primary(type="button" class="open-source-form#{class}")
      i.fa.fa-plus-circle
      | Add Source
