template(name="curatorEvents")
  .associated-events.curator-events
    .curator-events-header
      h3 Associated Events
    if associatedUserEvents.count
      table#associated-events.table
        tbody
          each associatedUserEvents
            tr
              td
                i.fa.fa-minus-circle.deassociate-event
                a(href="/user-event/#{_id}")=eventName
    else
      p.no-events.muted-text Currently no associated events

  .suggested-events.curator-events
    +suggestedEvents

  .all-events.curator-events
    .curator-events-header
      h4 All Events
      +reactiveTableFilter id="curatorEventsFilter" label=" "
    +reactiveTable collection=userEvents settings=settings

template(name="noAssociatedEvents")
  p.muted-text Currently no associated events

template(name="noCuratorEvents")
  .no-results
    p No Events Found

template(name="curatorEventSearchRow")
  i.fa.fa-plus-circle.associate-event
  a(href="/user-event/#{_id}")=eventName

template(name="curatorEventIncidents")
  td(colspan="2" class="tr-incidents-wrapper")
    +reactiveTable collection="curatorEventIncidents" settings=settings
