template(name="curatorInbox")
  .container-fluid
    .row
      .col-sm-6.curator-inbox-sources
        .row.curator-inbox-header
          h2 Sources
          .curator-inbox-options
            if isLoading
              a.curator-refresh-icon
                i.fa.fa-refresh.fa-spin
            a.curator-filter-calendar-icon(class="{{#if calendarState}} active {{/if}}")
              i.fa.fa-calendar
            a.curator-filter-reviewed-icon(class="{{#unless reviewFilterActive}} active {{/unless}}")
              i.fa.fa-check-circle
            .input-group
              input#curator-inbox-article-filter.map-search.form-control(type="text" placeholder="Filter by event name")
              i.fa.fa-search.search-icon
        .row.curator-inbox-datepicker(class="{{#if calendarState}} active {{/if}}")
          .text-center
            #date-picker.inlineRangePicker
          .text-center
            a#calendar-btn-apply.btn.btn-primary(href="") Apply
            a#calendar-btn-reset.btn.btn-primary(href="") Reset
            a#calendar-btn-cancel.btn.btn-default(href="") Cancel
        .curator-inbox-source-list.row
          if isReady
            each day in days
              +curatorInboxSection date=day index=@index reviewFilter=reviewFilter
          else
            .text-center
              br
              p Loading...
      if isReady
        .col-sm-6#curator-article-details
          .row.curator-inbox-header

template(name="curatorInboxSection")
  if post
    .col-xs-12.curator-inbox-section-head
      .pull-left
        b {{formattedDate}}
        .spacer
        {{count}} Articles
      .pull-right
        i.fa.fa-lg
          if isOpen
            i.fa.fa-chevron-circle-down
          else
            i.fa.fa-chevron-circle-left
    if isOpen
      +reactiveTable collection=posts settings=settings selector=selector class="table table-hover curator-inbox-table" rowClass="curator-inbox-table-row"

template(name="curatorSourceDetails")
  with post
    .row.curator-inbox-header.curator-source-details-header(class="{{#if isReviewed}} reviewed {{/if}}")
      h2= title
      .curator-source-details-options
        button.btn.btn-success.toggle-reviewed(class="{{#if isReviewed}} reviewed {{/if}}")
          if isReviewed
            span Reviewed
          else
            span Mark Reviewed
    .curator-source-details-content
      .row
        +curatorEvents
