template(name="curatorEvents")
  if associatedUserEvents
    .curator-events-section
      .heading Associated Events
    table#associated-events.table
      tbody
        each associatedUserEvents
          tr
            td
              i.fa.fa-minus-circle.deassociate-event
              a(href="/user-event/#{_id}")=eventName
  .curator-events-section
    .heading Search Events
    {{> reactiveTableFilter id="curatorEventsFilter" label=" " }}
  +reactiveTable collection=userEvents settings=settings

template(name="noCuratorEvents")
  .no-curator-events
    i.fa.fa-search
    p No Events Found

template(name="curatorEventSearchRow")
  i.fa.fa-plus-circle.associate-event
  a(href="/user-event/#{_id}")=eventName

template(name="curatorEventIncidents")
  td(colspan="2" class="tr-incidents-wrapper")
    +reactiveTable collection="curatorEventIncidents" settings=settings
