template(name="curatorEvents")
  .associated-events.curator-events
    .curator-events-header
      h3 Associated Events
    if associatedUserEvents.count
      table#associated-events.table
        tbody
          each associatedUserEvents
            tr
              td
                i.fa.fa-minus-circle.deassociate-event
                a(href="/user-event/#{_id}")=eventName
    else
      p.no-events.muted-text Currently no associated events

  .suggested-events.curator-events
    +suggestedEvents title=title associatedEventIdsToArticles=associatedEventIdsToArticles

  .all-events.curator-events
    .curator-events-header.all-events.toggleable
      h4 All Events
      .curator-events--options
        .filter-wrapper(class="{{#unless allEventsOpen }} subtle {{/unless}}")
          +reactiveTableFilter id="curatorEventsFilter" label=" "
        .curator-events-collapse
          if allEventsOpen
            i.fa.fa-lg.fa-chevron-circle-down
          else
            i.fa.fa-lg.fa-chevron-circle-left
    if allEventsOpen
      +reactiveTable collection=userEvents settings=settings

template(name="noAssociatedEvents")
  p.muted-text Currently no associated events

template(name="noCuratorEvents")
  .no-results
    p No Events Found

template(name="curatorEventSearchRow")
  i.fa.fa-plus-circle.associate-event(tabindex="0")
  span=eventName
  a.fa.fa-info-circle.event-info(href="/user-event/#{_id}" target="_blank")

template(name="curatorEventIncidents")
  td(colspan="2" class="tr-incidents-wrapper")
    +reactiveTable collection="curatorEventIncidents" settings=settings
