template(name="eventMap")
  .fluid-container
    .event-map-wrapper
      #event-map
      +mapFilters(
        templateEvents=templateEvents
        selectedEvents=selectedEvents
        disablePrev=disablePrev
        disableNext=disableNext
        query=query)

template(name="markerPopup")
  h4 {{location}}
  each getEvents
    p
      svg.marker-color-spot(height="10" width="10")
        circle(fill="rgb({{mapColorRGB}})" r="5" cx="5" cy="5")
      a(href="{{pathFor 'user-event' _id=id}}") {{name}}
