template(name="incidentReports")
  .container-flex.no-gutter
    .flex-col.bordered
      +addIncidentReport
      if incidents.length
        +reactiveTable collection=incidents settings=getSettings
      else
        p No incident reports are associated with this event.
    .flex-col
      #scatterPlot-toolbar
        a#scatterPlot-toggleCumulative.btn.btn-xs.btn-default.scatterPlot-toolbar-button
          i.fa.fa-circle-o
          | Toggle Cumulative
        a#scatterPlot-resetZoom.btn.btn-xs.btn-default.scatterPlot-toolbar-button
          i.fa.fa-refresh
          | Reset Zoom
      #scatterPlot

template(name="addIncidentReport")
  if currentUser
    .tab-form
      button.btn.btn-primary.open-incident-form(type="button")
        i.fa.fa-plus-circle
        span Add Incident Report

template(name="incidentReport")
  td(colspan="7")
    .details-container.incident-report--details
      ul.list-unstyled
        li
          h5 Source:
          ul.list-unstyled
            each val in url
              li
                a.ref-link(href="{{formatUrl(val)}}" target="_blank") {{formatUrl(val)}}
        if dateRange
          li
            h5 Date:
            span {{formatDateRange(dateRange)}}
        li
          h5 Location:
          if locations.length
            ul.list-unstyled
              each locations
                li {{formatLocation(this)}}
          else
            span No location specified.
        li
          h5 Species:
          span=species
        li
          h5 Status:
          span=status
        li
          if cases
            +incidentDetails label="Cases" value=cases
          if deaths
            +incidentDetails label="Deaths" value=deaths
          if specify
            +incidentDetails label="Other" value=specify
        li
          if travelRelated
            i.fa.fa-lg.fa-plane

template(name="incidentDetails")
  h5 #{label}:
  span=value

template(name="incidentModal")
  .modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          +modalCloseButton
          if edit
            h4.modal-title Edit Incident Report
          else
            h4.modal-title Add Incident Report
        .modal-body
          if edit
            +incidentForm articles=articles incident=incident edit=true
          else
            +incidentForm
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          if add
            button.btn.btn-primary.save-modal-duplicate(type="button") Save then Duplicate
          button.btn.btn-primary.save-modal(type="button") Save
