template(name="incidentReports")
  .row
    .col-md-6
      +addIncidentReport
      if incidents.length
        +reactiveTable collection=incidents settings=getSettings
      else
        p No incident reports are associated with this event.

template(name="addIncidentReport")
  if currentUser
    .tab-form
      .row
        .col-md-6.col-sm-12
          button.btn.btn-primary.open-incident-form(type="button")
            i.fa.fa-plus-circle
            | Add Incident Report

template(name="incidentReport")
  td(colspan="7")
    .tr-detail-container.form-horizontal
      .row
        .col-sm-2.control-label Source:
        .col-sm-10
          each val in url
            p.form-control-static
              a.ref-link(href="{{val}}" target="_blank") {{val}}
      if dateRange
        .row
          .col-sm-2.control-label Date:
          .col-sm-10
            p.form-control-static {{formatDateRange(dateRange)}}
      .row
        .col-sm-2.control-label Location:
        .col-sm-10
          if locations.length
            each locations
              p.form-control-static {{formatLocation(this)}}
          else
            p.form-control-static No location specified.
      .row
        .col-sm-2.control-label Species:
        .col-sm-10
          p.form-control-static {{species}}
      .row
        .col-sm-2.control-label Status:
        .col-sm-10
          p.form-control-static {{status}}
      .row
        if cases
          +incidentDetails label="Cases" value=cases
        if deaths
          +incidentDetails label="Deaths" value=deaths
        if specify
          +incidentDetails label="Other" value=specify
      .row
        .col-sm-2.control-label Travel Related:
        .col-sm-10
          if travelRelated
            p.form-control-static
              i.fa.fa-lg.fa-check

template(name="incidentDetails")
  .col-sm-2.control-label {{label}}:
  .col-sm-10
    p.form-control-static {{value}}

template(name="incidentModal")
  .modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          +modalCloseButton
          if edit
            h4.modal-title Edit Incident Report
          else
            h4.modal-title Add Incident Report
        .modal-body
          if edit
            +incidentForm articles=articles incident=incident edit=true
          else
            +incidentForm
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          if add
            button.btn.btn-primary.save-modal-duplicate(type="button") Save then Duplicate
          button.btn.btn-primary.save-modal(type="button") Save
