template(name="incidentReports")
  .row
    .col-md-6
      if currentUser
        .tab-form
          .row
            .col-lg-4.col-lg-offset-8.col-sm-12
              button.btn.secondary-btn.btn-block.open-incident-form(type="button")
                i.fa.fa-plus-circle
                | Add Report
      if counts.length
        +reactiveTable collection=counts settings=getSettings
      else
        p No incident reports are associated with this event.

template(name="incidentReport")
  .form-horizontal
    .row
      .col-sm-10
        each val in url
          p
            a.ref-link(href="{{val}}" target="_blank") {{val}}
        if date
          p
            small {{date}}
      .col-sm-2.col-xs-6
        if currentUser
          button.btn.btn-danger.btn-sm.btn-block.delete-count Delete
    .row
      .col-sm-2.control-label Location:
      .col-sm-10
        p.form-control-static
          if locations.length
            ul
              each locations
                li {{formatLocation(this)}}
          else
            | No location specified.
    if species
        .row
          .col-sm-2.control-label Species:
          .col-sm-10
            p.form-control-static
              em {{species}}
    .row
      if cases
        +incidentDetails label="Cases" value=cases
      if deaths
        +incidentDetails label="Deaths" value=deaths
      if specify
        +incidentDetails label="Other" value=specify

template(name="incidentDetails")
  .col-sm-2.control-label {{label}}:
  .col-sm-10
    p.form-control-static {{value}}

template(name="incidentModal")
  .modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Add Incident Report
        .modal-body
          form#add-incident.form-horizontal(novalidate)
            .form-group
              label.col-lg-3.control-label Article URL
              .col-lg-9
                +articleSelect2 selectId="countArticles" articles=articles
            .form-group
              label.col-lg-3.control-label Date
              .col-lg-9
                input.form-control.datePicker(type="text" name="date" data-DateTimePicker)
            .form-group
              label.col-lg-3.control-label Location
              .col-lg-9
                +locationSelect2 selectId="count-location-select2" multiple="true"
            .form-group
              label.col-lg-3.control-label Species
              .col-lg-9
                input.form-control(type="text" name="species")
            .form-group
              label.col-lg-3.control-label Incident Type
              .col-lg-9
                select.form-control(name="incidentType" required)
                  option(value="")
                  option(value="cases") Case Count
                  option(value="deaths") Death Count
                  option(value="other") Other
            .form-group
              if showCountForm
                label.col-lg-3.control-label Count
                .col-lg-9
                  input.form-control(name="count" type="number" min="0" required)
              if showOtherForm
                label.col-lg-3.control-label Specify Other
                .col-lg-9
                  input.form-control(name="other" type="text" required)
        .modal-footer
          button.btn.secondary-btn(type="button" data-dismiss="modal") Close
          button.btn.main-btn.save-modal-close(type="button") Save and Close
          button.btn.main-btn.save-modal(type="button") Save
