template(name="incidentReports")
  .container-flex.no-gutter
    .flex-col.bordered
      +addIncidentReport
      if incidents.length
        +reactiveTable collection=incidents settings=getSettings
      else
        p No incident reports are associated with this event.
    .flex-col
      #scatterPlot-toolbar
        a#scatterPlot-toggleCumulative.btn.btn-xs.btn-default.scatterPlot-toolbar-button
          i.fa.fa-circle-o
          | Toggle Cumulative
        a#scatterPlot-resetZoom.btn.btn-xs.btn-default.scatterPlot-toolbar-button
          i.fa.fa-refresh
          | Reset Zoom
      #scatterPlot

template(name="addIncidentReport")
  if currentUser
    .tab-form
      button.btn.btn-primary.open-incident-form(type="button")
        i.fa.fa-plus-circle
        span Add Incident Report

template(name="incidentReport")
  td(colspan="7")
    .details-container.incident-report--details.container-flex
      if importantDetails
        .incident-report--details--important
          if status
            .incident-report--details--status
              i.fa(class=status)
              h6=status
          if caseCounts
            .incident-report--details--counts
              if deaths
                +incidentCount label=deathsLabel count=deaths
              if cases
                +incidentCount label=casesLabel count=cases
          if travelRelated
            .incident-report--details--travel-related
              i.fa.fa-lg.fa-plane
              h6 Travel Related

      .incident-report--details--metadata(class="{{#if importantDetails}} bordered {{/if}}")
        if specify
          h5=specify

        ul.metadata.list-unstyled
          li.container-flex
            i.detail-icon.fa.fa-globe
            if locations.length
              ul.list-unstyled.locations
                each locations
                  li
                    span {{formatLocation(this)}}
            else
              span No location specified.
          if species
            li.container-flex.single
              i.detail-icon.fa.fa-paw
              span=species
          li.container-flex.single
            i.detail-icon.fa.fa-calendar
            span {{formatDateRange(dateRange)}}
          li.container-flex
            i.detail-icon.fa.fa-link
            ul.list-unstyled
              each val in url
                li
                  a.ref-link(href="{{formatUrl(val)}}" target="_blank")
                    span {{formatUrl(val)}}

      .incident-report--details--actions.container-flex
        a.edit
          i.fa.fa-edit
        a.delete
          i.fa.fa-trash

template(name="incidentCount")
  span.incident-count=count
  h6.type=label

template(name="incidentModal")
  .modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          +modalCloseButton
          if edit
            h4.modal-title Edit Incident Report
          else
            h4.modal-title Add Incident Report
        .modal-body
          if edit
            +incidentForm articles=articles incident=incident edit=true
          else
            +incidentForm
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          if add
            button.btn.btn-primary.save-modal-duplicate(type="button") Save then Duplicate
          button.btn.btn-primary.save-modal(type="button") Save
