template(name="incidentForm")
  form#add-incident.form-horizontal(novalidate)
    .form-group
      .col-md-12
        label.control-label Article URL
        +articleSelect2 selectId="articleSource" articles=articles selected=incidentData.articleSource
    .form-group
      .col-md-12
        label.control-label Date
        ul.nav.nav-tabs.secondary-tabs(role="tablist")
          li(role="presentation" class="{{dayTabClass}}")
            a(href="#singleDate" aria-controls="single Date" role="tab" data-toggle="tab") Single Date
          li(role="presentation" class="{{rangeTabClass}}")
            a(href="#preciseRange" aria-controls="date range" role="tab" data-toggle="tab") Date Range

        .tab-content
          #singleDate.tab-pane(role="tabpanel" class="{{dayTabClass}}")
            #singleDatePicker.inlineRangePicker

          #preciseRange.tab-pane(role="tabpanel" class="{{rangeTabClass}}")
            #rangePicker.inlineRangePicker

    .form-group
      .col-md-12
        label.control-label Location
        +locationSelect2 selectId="incident-location-select2" multiple="true" selected=incidentData.locations
    .form-group
      .col-md-12
        label.control-label Species
        input.form-control(type="text" name="species" value=incidentData.species)
    .form-group
      .col-md-12
        label.control-label Status
        select.form-control(name="status")
          option(value="")
          option(value="suspected" selected=incidentStatus.suspected) Suspected
          option(value="confirmed" selected=incidentStatus.confirmed) Confirmed
          option(value="revoked" selected=incidentStatus.revoked) Revoked
    .form-group
      .col-md-12
        label.control-label Incident Type
        select.form-control(name="incidentType" required)
          option(value="")
          option(value="cases" selected=incidentType.cases) Case Count
          option(value="deaths" selected=incidentType.deaths) Death Count
          option(value="other" selected=incidentType.other) Other
    if showCountForm
      .form-group
        .col-md-12
          label.control-label Count
          input.form-control(name="count" type="number" min="0" required value=incidentData.value)
    if showOtherForm
      .form-group
        .col-md-12
          label.control-label Specify Other
          input.form-control(name="other" type="text" required value=incidentData.value)
    .form-group
      .col-md-12
        .checkbox
          label
            input(type="checkbox" value="1" name="cumulative" checked="{{incidentData.dateRange.cumulative}}")
            | Cumulative
    .form-group
      .col-md-12
        .checkbox
          label
            input(type="checkbox" value="1" name="travelRelated" checked=incidentData.travelRelated)
            | Travel related