template(name="incidentForm")
  form#add-incident.form-horizontal(novalidate)
    .form-group
      .col-md-12
      label.control-label Article URL
      +articleSelect2 selectId="articleSource" articles=articles selected=incidentData.articleSource
    .form-group
      //input.form-control.datePicker(type="text" name="date" data-DateTimePicker value=incidentData.date)
      .col-md-12
        label.control-label Date
        ul.nav.nav-tabs.secondary-tabs(role="tablist")
          li.active(role="presentation")
            a(href="#singleDate" aria-controls="single Date" role="tab" data-toggle="tab" data-isrange="false") Single Date
          li(role="presentation")
            a(href="#preciseRange" aria-controls="precise date range" role="tab" data-toggle="tab" data-isrange="true") Precise Date Range
          li(role="presentation")
            a(href="#unboundRange" aria-controls="unbound date range" role="tab" data-toggle="tab" data-isrange="true") Unbound Date Range

        .tab-content
          #singleDate.tab-pane.active(role="tabpanel")
            #singleDatePicker.inlineRangePicker

          #preciseRange.tab-pane(role="tabpanel")
            #rangePicker.inlineRangePicker

          #unboundRange.tab-pane(role="tabpanel")
            .datePicker(type="text" name="date" data-DateTimePicker)

    .form-group
      .col-md-12
        button.btn.secondary-btn(type="button") Clear Calendar
    .form-group
      .col-md-12
        .checkbox.text-center
          label
            input(type="checkbox" value="1" name="hourPrecision")
            | Enable Hour Precision

    if showTimePicker
      .form-group
        if multipleTimePickers
          .col-md-6
            .input-group
              span.input-group-addon
                i.fa.fa-clock-o
              input.timePicker.form-control(type="text" name="startHour" placeholder="Starting Hour")
          .col-md-6
            .input-group
              span.input-group-addon
                i.fa.fa-clock-o
              input.timePicker.form-control(type="text" name="endHour" placeholder="Ending Hour")
        else
          .col-md-offset-3.col-md-6
            .input-group
              span.input-group-addon
                i.fa.fa-clock-o
              input.timePicker.form-control(type="text" name="hour" placeholder="Hour")
      .form-group.space-btm-2
        .col-md-offset-3.col-md-6
          .input-group
            span.input-group-addon
              i.fa.fa-globe
            select.form-control
              option(value="")
              each timezones
                option(value=offset) {{name}} (GMT{{offset}})
    .form-group
      .col-md-12
        label.control-label Location
        +locationSelect2 selectId="incident-location-select2" multiple="true" selected=incidentData.locations
    .form-group
      .col-md-12
        label.control-label Species
        input.form-control(type="text" name="species" value=incidentData.species)
    .form-group
      .col-md-12
        label.control-label Status
        select.form-control(name="status")
          option(value="")
          option(value="suspected" selected=incidentStatus.suspected) Suspected
          option(value="confirmed" selected=incidentStatus.confirmed) Confirmed
          option(value="revoked" selected=incidentStatus.revoked) Revoked
    .form-group
      .col-md-12
        label.control-label Incident Type
        select.form-control(name="incidentType" required)
          option(value="")
          option(value="cases" selected=incidentType.cases) Case Count
          option(value="deaths" selected=incidentType.deaths) Death Count
          option(value="other" selected=incidentType.other) Other
    if showCountForm
      .form-group
        .col-md-12
          label.control-label Count
          input.form-control(name="count" type="number" min="0" required value=incidentData.value)
    if showOtherForm
      .form-group
        .col-md-12
          label.control-label Specify Other
          input.form-control(name="other" type="text" required value=incidentData.value)
    .form-group
      .col-md-12
        .checkbox
          label
            input(type="checkbox" value="1" name="travelRelated" checked=incidentData.travelRelated)
            | Travel related
