template(name="mapFilters")
  .map-menu
    .search-wrap
      i.fa.fa-calendar.toggle-calendar-state(class="{{#if calendarState}} showing {{/if}}")
      .map-search
        i.fa.fa-search
        input.form-control(type="text" placeholder="Search events")
    if calendarState
      +dateSelector(dateVariables=dateVariables filtering=filtering)
    ul.map-event-list.list-group
      each getEvents
        li.map-event-list--item.list-group-item(class="{{#if selected}} selected {{/if}}")
          span.name=name
          span.date Last Incident Date: {{formatDate lastIncidentDate}}
          .circle(style="background-color:rgb(#{rgbColor})")
      .map-event-list--nav
        .event-list-prev(title="Older" class="{{#if disablePrev}} disabled {{/if}}")
          i.fa.fa-chevron-left
        .event-list-next(title="Newer" class="{{#if disableNext}} disabled {{/if}}")
          i.fa.fa-chevron-right
        span.deselect-all(
          class="{{#if eventsAreSelected}} active {{/if}}") Deselect events


template(name="dateSelector")
  .calendar-wrapper
    .date-picker-container.inlineRangePicker
      if searchingBeforeAfter
        .veil
    .date-options.centered
      if additionalOptions
        .option
          .input-group.before-date-picker.date-picker(data-type='before')
            .input-group-addon(class="{{#if searchTypeSelected 'before'}} selected {{/if}}") Before
            input.form-control(placeholder="Select a date")
          if searchTypeSelected 'before'
            .clear-date.fa.fa-times-circle
        .option
          .input-group.after-date-picker.date-picker(data-type='after')
            .input-group-addon(class="{{#if searchTypeSelected 'after'}} selected {{/if}}") After
            input.form-control(placeholder="Select a date")
          if searchTypeSelected 'after'
            .clear-date.fa.fa-times-circle
      else
        button.btn.btn-default.btn-sm.additional-date-options Additional Options
