template(name="mapFilters")
  .map-menu
    +dateSelector(
      currentDate=getCurrentDate
      filtering=filtering)
    .search-wrap
      .input-group
        span.input-group-addon
          i.fa.fa-filter
        input.map-search.form-control(type="text" placeholder="Filter by event name")
        if getSearchText
          span.clear-search
            i.fa.fa-times-circle
    ul.map-event-list.list-group
      each getEvents
        li.map-event-list--item.list-group-item
          span.name=name
          span.date=date
          .circle(style="background-color:rgb(#{rgbColor})")
      .event-list-prev(title="Older" disabled="{{disablePrev}}")
        i.fa.fa-angle-double-left.fa-lg
      .event-list-next(title="Newer" disabled="{{disableNext}}")
        i.fa.fa-angle-double-right.fa-lg

template(name="dateSelector")
  .date-picker-container
    .datePicker(type="text")
