template(name="searchInput")
  .search-wrapper.input-wrapper(
    id=id
    class="{{#unless searchWaiting}} stagged {{/unless}} {{classes}}")
    input.search.form-control.icon-right(
      type="text"
      placeholder=placeholder)
    i.fa.fa-search.search-icon.right(
      data-toggle="{{#if toggleable}} tooltip {{/if}}"
      data-placement="left"
      title="{{#if toggleable}} Search {{/if}}"
      class="{{#if searchString}} cancel {{/if}} {{#if toggleable}} toggleable {{/if}}")
