template(name="sourceModal")
  #event-source.modal.modal-skinny.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          .modal-header--title
            h4
              if edit
                | Edit Event Source
              else
                | Add Event Source
          +modalCloseButton

        .modal-body
          form#add-source(novalidate)
            unless editing
              .form-group.full-width
                label.control-label.featured Suggested Sources
                #suggested-articles.modal-block
                  if loadingArticles
                    .loading.small
                  else
                    if suggestedArticles.count
                      ul.list-unstyled
                        each suggestedArticles
                          li(class="{{#if articleSelected}} active {{/if}}")= subject
                    else
                      .no-results No articles found

            .form-group.form-group--full
              label.control-label Title
              input#title.form-control.new-title(
                type="text"
                name="title"
                value=title
                required)
              .help-block.with-errors

            .form-group.form-group--full
              label.control-label Article URL
              if edit
                p.form-control-static {{url}}
              else
                input#article.form-control.new-article(
                  type="url"
                  value=url
                  name="article"
                  required)
              .help-block.with-errors

            .form-group.form-group--full(class="{{#if editing}} date-editing {{/if}}")
              label.control-label Publication Date
              .modal-block.full-width
                #publishDate.datePicker.inlineRangePicker
                .clearfix.time
                  .col-sm-6
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.fa.fa-clock-o
                        input#publishTime.timePicker.form-control(
                          type="text"
                          name="publishTime"
                          placeholder="Time"
                          required
                          data-error="Please select a time.")
                      .help-block.with-errors
                  .col-sm-6
                    .form-group
                      .input-group.with-select
                        span.input-group-addon
                          i.fa.fa-globe
                        select#publishDateTZ.form-control(name="publishDateTZ")
                          each timezones
                            option(value=name selected=selected) #{name} (GMT#{offset})

            unless edit
              .form-group.no-margin
                .container-flex.check-buttons.options.no-break
                  .check-button
                    input(
                      type="checkbox"
                      name="enhance"
                      id="enhance"
                      value="1"
                      tabindex="-1"
                      checked)
                    label(for="enhance" tabindex="0") Suggest incident reports

        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          button.btn.btn-primary(type="button" class=saveButtonClass) Save
