template(name="userEvent")
  .container-fluid.event
    .container
      .row
        .col-lg-12.event-head
          .basic-info
            if isEditing
              with userEvent
                form#editEvent.form-horizontal
                  .form-group
                    .col-sm-2
                      button#cancel-edit.btn.secondary-btn.btn-block(type='button') Cancel
                    .col-sm-2.space-btm-1
                      button#save-edit.btn.main-btn.btn-block(type='submit') Save
                  .form-group
                    .col-md-12
                      label.control-label Event Name
                      input.form-control(type='text' name='eventName' value='{{eventName}}' required)
                  .form-group
                    .col-md-12
                      label.control-label Event Summary
                      textarea.form-control(name="eventSummary" rows="15") {{summary}}
                  .form-group
                    .col-md-12
                      label.control-label Event Disease
                      input.form-control(type="text" name="eventDisease" value="{{disease}}")
            else
              with userEvent
                if isInRole "admin"
                  .row
                    .col-sm-2.space-btm-2
                      .dropdown
                        button.btn.secondary-btn.dropdown-toggle(type="button" data-toggle="dropdown")
                          | Admin Options
                          span.caret
                        ul.dropdown-menu
                          li
                            a.edit-link(href="#") Edit
                          li
                            a.delete-link(href="#") Delete
                .row
                  .col-sm-10
                    h1 {{eventName}}
                  .col-sm-2.space-btm-1
                    button.btn.secondary-btn.btn-block(type="button" data-target="#shareLink" data-toggle="collapse")
                      i.fa.fa-share
                      | Share
                #shareLink.row.collapse
                  .col-sm-12.shareLink
                    .panel.panel-default
                      .panel-body
                        p Share this event by copying the direct link to this page below.
                        .input-group
                          input#eventLink.form-control(type="text" readonly value="{{urlFor 'user-event'}}")
                          span.input-group-btn
                            button#copyLink.btn.btn-default(type="button" data-clipboard-target="#eventLink")
                              i.fa.fa-clipboard
                .row
                  .col-sm-10.space-btm-2
                    h5 Created by {{createdByUserName}} on {{creationDate}}
                    h5 Last modified by {{lastModifiedByUserName}} on {{lastModifiedDate}}
              .row
                .col-md-12
                  +summary

      if incidents.length
        .row
          ul.nav.nav-tabs(role="tablist")
            li(class="{{#if incidentView}}active{{/if}}" role="presentation")
              a(href="{{pathFor route='user-event' _id=userEvent._id _view='incidents'}}") Incident Reports
            li(class="{{#if locationView}}active{{/if}}" role="presentation")
              a(href="{{pathFor route='user-event' _id=userEvent._id _view='locations'}}") Locations

        .tab-content
          .tab-pane.active(role="tabpanel")
            +Template.dynamic template=view data=templateData
      else
        .row
          +addIncidentReport

      .row
        col-lg-6
          +articles

template(name="summary")
  .row
    .col-md-12
      p.abstract
        if userEvent.summary
          | {{userEvent.summary}}
        else
          | No summary available.
  .row.space-btm-2
    .col-md-12
      .disease-separator
      h2 Event Disease
      p
        if userEvent.disease
          | {{userEvent.disease}}
        else
          | No disease available.

template(name="locationList")
  #proMedModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          button.fa.fa-times.close.fa-2x(type='button', data-dismiss='modal')
          h4
            a#proMedURL
        .modal-body
          iframe#proMedIFrame
  .row
    .col-md-6
      if incidentLocations.length
        .tab-form
          .row
            .col-lg-12
              +reactiveTableFilter id="locationFilter" label=" " class="input-group table-filter"
        +reactiveTable collection=incidentLocations settings=getSettings
      else
        p No locations are associated with this event.
    .col-md-6
      if incidentLocations.length
        +map event=userEvent incidentLocations=incidentLocations

template(name="location")
  td(colspan="4")
    .tr-detail-container.form-horizontal
      .form-group
        .col-md-12
          h5
            i.fa.fa-link
            | Sources
          ul
            each sources
             li
                a(href="{{this}}") {{this}}
                  i.fa.fa-external-link
      .form-group
        .col-md-12
          i.fa.fa-globe
          a(href="http://www.geonames.org/{{geonameId}}") {{displayName}}
            i.fa.fa-external-link
      .form-group
        .col-md-12
          i.fa.fa-info-circle
          em Added on {{formatDate addedDate}}

template(name="articles")
  .panel.panel-default
    .panel-heading
      h3 Articles
    .panel-body.comments-container
      if isInRole "admin"
        .comment-form
          form#add-article.form-horizontal(novalidate)
            .form-group
              label.col-lg-3.control-label Article URL
              .col-lg-9
                input#article.form-control.new-article(type="url" name="article" required)
            .form-group
              label.col-lg-3.control-label Publication Date
              .col-lg-5
                input#publishDate.form-control.datePicker(type="text" name="publishDate" init="{{initDatePicker}}")
              .col-lg-4
                select#publishDateTZ.form-control(name="publishDateTZ")
                  each timezones
                    option(value=name selected=selected) {{name}} (GMT{{offset}})
            .form-group
              .col-lg-9.col-lg-offset-3
                .checkbox
                  label
                    input(type="checkbox" value="1" name="scrapeLocations")
                    | Find locations in the article to add to the event
            .form-group
              .col-lg-4.col-lg-offset-8.col-sm-12
                button.btn.main-btn.btn-block(type="submit") Add article
    if articles.length
      ul.list-group
        each articles
          +article
    else
      p There are no articles currently associated with this event.

template(name="article")
  li.list-group-item
    .row
      .col-sm-10
        a.ref-link(href="{{url}}" target="_blank") {{url}}
          i.fa.fa-external-link
        if publishDate
          p
            small {{publishDate}}
      .col-sm-2.col-xs-6
        if isInRole "admin"
          button.btn.btn-danger.btn-sm.btn-block.delete-article Delete

template(name="locationModal")
  .modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Locations mentioned in the article
        .modal-body
          if suggestedLocations.length
            p The linked article contains references to the following locations. Please select which locations you would like to add to the event.
            #suggested-locations-form.form-horizontal
              each suggestedLocations
                .form-group
                  .col-md-12
                    .checkbox
                      label
                        input(type="checkbox" value="{{geonameId}}")
                        | {{locationOptionText(this)}}
                      a(href="http://www.geonames.org/{{geonameId}}" target="_blank") (Geoname link)
                        i.fa.fa-external-link
          else
            p No new locations could be found in the linked article.
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          if suggestedLocations.length
            button#add-suggestions.btn.main-btn(type="button") Add Locations

template(name="loadingModal")
  .modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-body
          p
            i.fa.fa-circle-o-notch.fa-spin
            | Processing article

template(name="articleSelect2")
  select.article-select2.form-control.select2(id="{{selectId}}" name="{{selectId}}" multiple="{{multiple}}" init="{{initArticleSelect2}}" required)
    unless multiple
      option(value="")
    each articles
      option(value="{{_id}}") {{url}}
