template(name="userEvent")
  .event
    section.event--basic-info.container-fluid-padded
      with userEvent
        +summary

    section.event--detailed-info
      if incidents.length
        .tabs-wrapper
          ul.tabs.primary-tabs.container-fluid-padded(role="tablist")
            li(class="{{#if incidentView}}active{{/if}}" role="presentation")
              a(href="{{pathFor route='user-event' _id=userEvent._id _view='incidents'}}") Incident Reports
            li(class="{{#if locationView}}active{{/if}}" role="presentation")
              a(href="{{pathFor route='user-event' _id=userEvent._id _view='locations'}}") Locations

        .tab-content
          .tab-pane.active(role="tabpanel")
            +Template.dynamic template=view data=templateData
      else
        +addIncidentReport

    section.event--articles
      +articles

template(name="summary")
  .event-summary.container-flex
    .flex-col.event-details
      .event-name-wrap
        h1.event-name= eventName
        if isInRole "admin"
          i.fa.fa-edit.edit-event-details(
            data-toggle="modal"
            data-target="#edit-event-modal"
            data-editing='name')
      p.disease-name
        if disease
          span= disease
        else
          span.not-available No disease available.
          if isInRole "admin"
            i.fa.fa-plus-circle.edit-event-details(
              data-toggle="modal"
              data-target="#edit-event-modal"
              data-editing='disease')
      p.abstract.summary(class="{{#unless summary}} shift-up {{/unless}}")
        if summary
          span= summary
        else
          span.not-available No summary available.
          if isInRole "admin"
            i.fa.fa-plus-circle.edit-event-details(
              data-toggle="modal"
              data-target="#edit-event-modal"
              data-editing='summary')
    .flex-col
      table#countTable
        tr.col-md-12
          td.col-md-6.count-cell.count-cell-left.text-center
            .col-md-12.count-cell-value= caseCount
            .col-md-12.count-cell-title Incident Reports
          td.col-md-6.count-cell.text-center
            .col-md-12.count-cell-value= articleCount
            .col-md-12.count-cell-title Sources
        tr.col-md-12.count-table-detail
          td.col-md-5.gi
            span Created:
            | {{formatDate creationDate}} by #{createdByUserName}
          td.col-md-5.gi.gi-cell-center
            span Last Modified:
            | {{formatDate lastModifiedDate}} by #{lastModifiedByUserName}
          td.col-md-2.gi
            button.copy-link.btn.btn-xs.btn-default(type="button" data-clipboard-text="{{urlFor 'user-event'}}")
              i.fa.fa-share-alt
              | Copy Event Link
  +editEventDetailsModal

template(name="locationList")
  .container-flex.no-gutter
    .flex-col.bordered
      if incidentLocations.length
        .tab-form
          +reactiveTableFilter id="locationFilter" label=" " class="input-group table-filter"
        +reactiveTable collection=incidentLocations settings=getSettings
      else
        p No locations are associated with this event.
    .flex-col
      if incidentLocations.length
        +map event=userEvent incidentLocations=incidentLocations
  #proMedModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          +modalCloseButton
          h4
            a#proMedURL
        .modal-body
          iframe#proMedIFrame

template(name="location")
  td(colspan="4")
    .tr-detail-container.form-horizontal
      .form-group
        .col-md-12
          h5
            i.fa.fa-link
            | Sources
          ul
            each sources
             li
                a(href=this)= this
                  i.fa.fa-external-link
      .form-group
        .col-md-12
          i.fa.fa-globe
          a(href="http://www.geonames.org/{{id}}")= name
            i.fa.fa-external-link
      .form-group
        .col-md-12
          i.fa.fa-info-circle
          em Added on {{formatDate addedDate}}
