template(name="userEvent")
  .event
    .row
      .event-head
        .basic-info
          if isEditing
            with userEvent
              form#editEvent.form-horizontal
                .form-group
                  .col-md-12
                    label.control-label Event Name
                    input.form-control(type='text' name='eventName' value='{{eventName}}' required)
                .form-group
                  .col-md-12
                    label.control-label Event Disease
                    input.form-control(type="text" name="eventDisease" value="{{disease}}")
                .form-group
                  .col-md-12
                    label.control-label Event Summary
                    textarea.form-control(name="eventSummary" rows="15") {{summary}}
                .form-group
                  .col-sm-2
                    button#cancel-edit.btn.secondary-btn.btn-block(type='button') Cancel
                  .col-sm-2.space-btm-1
                    button#save-edit.btn.main-btn.btn-block(type='submit') Save
          else
            with userEvent
              .row
                .col-md-12
                  +summary

      if incidents.length
        .row
          ul.nav.nav-tabs.primary-tabs(role="tablist")
            li(class="{{#if incidentView}}active{{/if}}" role="presentation")
              a(href="{{pathFor route='user-event' _id=userEvent._id _view='incidents'}}") Incident Reports
            li(class="{{#if locationView}}active{{/if}}" role="presentation")
              a(href="{{pathFor route='user-event' _id=userEvent._id _view='locations'}}") Locations

        .tab-content
          .tab-pane.active(role="tabpanel")
            +Template.dynamic template=view data=templateData
      else
        .row
          +addIncidentReport

      .row
        col-lg-6
          +articles

template(name="summary")
  .row
    .col-md-6
      .eventName.eventNameSummary {{eventName}}
      p
        if disease
          .diseaseName {{disease}}
        else
          | No disease available.
      p.abstract.eventSummary
        if summary
          | {{summary}}
        else
          | No summary available.
    .col-md-6
      .col-sm-4.col-sm-offset-8.space-btm-1.space-top-1
        if isInRole "admin"
          .dropdown
            button.btn.secondary-btn.btn-block.dropdown-toggle(type="button" data-toggle="dropdown" style="white-space: normal;")
              | Admin Options
              span.caret
            ul.dropdown-menu
              li
                a.edit-link(href="#") Edit
              li
                a.delete-link(href="#") Delete
      table#countTable.col-md-12
        tr.col-md-12
          td.col-md-6.countCell.countCellLeft.text-center
            .col-md-12.countCellValue
              {{caseCount}}
            .col-md-12.countCellTitle INCIDENT REPORTS
          td.col-md-6.countCell.text-center
            .col-md-12.countCellValue
              {{articleCount}}
            .col-md-12.countCellTitle SOURCES
        tr.col-md-12.countTableDetail
          td.col-md-5.gi Created By:
            b{{createdByUserName}}
            |on {{formatDate creationDate}}
          td.col-md-5.gi.giCellCenter Last Modified By:
            b{{lastModifiedByUserName}}
            |on {{formatDate lastModifiedDate}}
          td.col-md-2.gi
            button#copyLink.btn.btn-xs.btn-default(type="button" data-clipboard-text="{{urlFor 'user-event'}}")
              i.fa.fa-share-alt
              | Copy Event Link



template(name="locationList")
  #proMedModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          button.fa.fa-times.close.fa-2x(type='button', data-dismiss='modal')
          h4
            a#proMedURL
        .modal-body
          iframe#proMedIFrame
  .row
    .col-md-6
      if incidentLocations.length
        .tab-form
          .row
            .col-lg-12
              +reactiveTableFilter id="locationFilter" label=" " class="input-group table-filter"
        +reactiveTable collection=incidentLocations settings=getSettings
      else
        p No locations are associated with this event.
    .col-md-6
      if incidentLocations.length
        +map event=userEvent incidentLocations=incidentLocations

template(name="location")
  td(colspan="4")
    .tr-detail-container.form-horizontal
      .form-group
        .col-md-12
          h5
            i.fa.fa-link
            | Sources
          ul
            each sources
             li
                a(href="{{this}}") {{this}}
                  i.fa.fa-external-link
      .form-group
        .col-md-12
          i.fa.fa-globe
          a(href="http://www.geonames.org/{{geonameId}}") {{displayName}}
            i.fa.fa-external-link
      .form-group
        .col-md-12
          i.fa.fa-info-circle
          em Added on {{formatDate addedDate}}
