template(name="incidentForm")
  form#add-incident(novalidate)
    .add-incident--wrapper
      if confirmation
        input(type="hidden" name="articleSourceUrl" value=articleSourceUrl)
      else
        .form-group.form-group--full
          label.control-label.with-info-tooltip(
            data-toggle="tooltip"
            data-placement="right"
            title="URL of the article where the incident was reported."
          ) Source URL
          if incidentData.url
            input.form-control(readonly value=incidentData.url name="articleSourceUrl")
          else
            +articleSelect2(
              selectId="articleSource"
              articles=articles
              selected=incidentData.url
              placeholder='Select a source')
            .help-block.with-errors

      .form-group.form-group--full(class="{{suggestedField 'locations'}}")
        label.control-label.with-info-tooltip(
          data-toggle="tooltip"
          data-placement="right"
          title="Location where the incident occurred. If the most precise location is unavailable, use the location one administrative division above. E.g. if the city isn't listed use the state."
        ) Locations
        +locationSelect2(
          selectId="incident-location-select2"
          multiple=false
          selected=incidentData.locations
          required=true)
        .help-block.with-errors

      button.hidden(type="submit" aria-hidden="true")
