template(name="incidentReport")
  td(colspan="7")
    .details-container.incident-report--details.container-flex.no-break
      if importantDetails
        .incident-report--details--important
          if status
            .incident-report--details--status
              i.fa(class=status aria-hidden="true" title=status)
              h6=status
          if caseCounts
            .incident-report--details--counts
              if deaths
                +incidentCount label=deathsLabel count=deaths
              if cases
                +incidentCount label=casesLabel count=cases
          if travelRelated
            .incident-report--details--travel-related
              i.fa.fa-lg.fa-plane(aria-hidden="true")
              h6 Travel Related

      .incident-report--details--metadata(class="{{#if importantDetails}} bordered {{/if}}")
        if specify
          h5=specify

        ul.metadata.list-unstyled
          li.container-flex.no-break
            h6.metadata--title Locations:
            if locations.length
              ul.list-unstyled.locations
                each locations
                  li
                    span {{formatLocation(this)}}
            else
              span No location specified.
          if species
            li.container-flex.single.no-break
              h6.metadata--title Species:
              span=species
          if disease
            li.container-flex.single.no-break
              h6.metadata--title Disease:
              span=disease
          li.container-flex.single.no-break
            h6.metadata--title Dates:
            span {{formatDateRange(dateRange)}}
          li.container-flex.no-break
            h6.metadata--title Source:
            a.ref-link(href="{{formatUrl(url)}}" target="_blank")
              span {{formatUrl(url)}}
          ul.integrity.metadata.list-unstyled
            if dateRange.cumulative
              li
                i.fa.fa-asterisk(aria-hidden="true")
                | Cumulative
            if approximate
              li
                i.fa.fa-asterisk(aria-hidden="true")
                | Approximate

      if isInRole "admin"
        .incident-report--details--actions.container-flex.no-break
          a.edit
            i.fa.fa-edit(aria-hidden="true" title="Edit incident report")
          a.delete
            i.fa.fa-trash(aria-hidden="true" title="Delete incident report")
