template(name="incidentTable")
  if incidents.length
    .incident-reports--actions.container-flex.no-break
      button.btn.btn-sm.action(
        disabled="{{#unless incidentsSelected}} true {{/unless}}"
        class="btn-{{#if acceptance}}success{{else}}danger{{/if}}") #{action} Locations
      button.btn.btn-sm.btn-success.mark-study-sites(
        disabled="{{#unless incidentsSelected}} true {{/unless}}") Mark Study Sites
      button.btn.btn-sm.btn-default.select(
        class="deselect-all") Deselect All
    .table-wrapper
      table.table.incident-table(
        hidden=annotatedContentVisible
        data-tableexport-display="always")
        unless hideTableHeader
          thead
            tr
              th
              th.locations-header Locations
        tbody
          each incidents
            tr(data-incident-id=_id)
              td
                span.select(class="{{#if selected}} selected {{/if}}")
              if ignore
                td.open-incident
                  i Ignored
                  p=snippet
              else
                td.open-incident
                  b {{formatLocations locations useHTML=true}}
                  p=snippet
              td
                ul.actions.container-flex.list-unstyled.no-break
                  li.view
                    i.fa.fa-eye
      .container-flex.central.space-top-2

  else
    +noResults message="No annotations found. They might not have loaded yet."
