
template(name="incidentReport")
  td(colspan="7")
    .details-container.incident-report--details.container-flex.no-break
      if importantDetails
        .incident-report--details--important
          if status
            .incident-report--details--status
              i.fa(class=status)
              h6=status
          if caseCounts
            .incident-report--details--counts
              if deaths
                +incidentCount label=deathsLabel count=deaths
              if cases
                +incidentCount label=casesLabel count=cases
          if travelRelated
            .incident-report--details--travel-related
              i.fa.fa-lg.fa-plane
              h6 Travel Related

      .incident-report--details--metadata(class="{{#if importantDetails}} bordered {{/if}}")
        if specify
          h5=specify

        ul.metadata.list-unstyled
          li.container-flex.no-break
            +detailIcon icon="globe" title="Locations"
            if locations.length
              ul.list-unstyled.locations
                each locations
                  li
                    span {{formatLocation(this)}}
            else
              span No location specified.
          if species
            li.container-flex.single.no-break
              +detailIcon icon="paw" title="Species"
              span=species
          li.container-flex.single.no-break
            +detailIcon icon="calendar" title="Dates"
            span {{formatDateRange(dateRange)}}
          li.container-flex.no-break
            +detailIcon icon="link" title="Source"
            ul.list-unstyled
              each val in url
                li
                  a.ref-link(href="{{formatUrl(val)}}" target="_blank")
                    span {{formatUrl(val)}}

      .incident-report--details--actions.container-flex.no-break
        a.edit
          i.fa.fa-edit
        a.delete
          i.fa.fa-trash
