template(name="incidentForm")

  form#add-incident(novalidate)
    .form-group
      label.control-label Source URL
      +articleSelect2(
        selectId="articleSource"
        articles=articles
        selected=incidentData.articleSource
        placeholder='Select a source')
      .help-block.with-errors

    .form-group.incident--dates.full-width(class="{{suggestedField 'dateRange'}}")
      ul.tabs.secondary-tabs(role="tablist")
        li(role="presentation" class="{{dayTabClass}}")
          a(href="#singleDate" aria-controls="single Date" role="tab" data-toggle="tab") Single Date
        li(role="presentation" class="{{rangeTabClass}}")
          a(href="#preciseRange" aria-controls="date range" role="tab" data-toggle="tab") Date Range

      .tab-content
        #singleDate.tab-pane(role="tabpanel" class="{{dayTabClass}}")
          #singleDatePicker.inlineRangePicker

        #preciseRange.tab-pane(role="tabpanel" class="{{rangeTabClass}}")
          #rangePicker.inlineRangePicker

    .form-group(class="{{suggestedField 'locations'}}")
      label.control-label Location
      +locationSelect2(
        selectId="incident-location-select2"
        multiple="true"
        selected=incidentData.locations)
      .help-block.with-errors

    .form-group(class="{{suggestedField 'species'}}")
      label.control-label Species
      input.form-control(
        type="text"
        name="species"
        value=incidentData.species)

    .form-group.check-buttons(class="{{suggestedField 'status'}}")
      label.control-label Status
      .container-flex.check-buttons.status.no-break
        .check-button
          input(
            type="radio"
            name="incidentStatus"
            id="suspected"
            value="suspected"
            tabindex="-1"
            checked="{{incidentStatusChecked 'suspected'}}")
          label(for="suspected" tabindex="0") Suspected
        .check-button
          input(
            type="radio"
            name="incidentStatus"
            id="confirmed"
            value="confirmed"
            tabindex="-1"
            checked="{{incidentStatusChecked 'confirmed'}}")
          label(for="confirmed" tabindex="0") Confirmed
        .check-button
          input(
            type="radio"
            name="incidentStatus"
            id="revoked"
            value="revoked"
            tabindex="-1"
            checked="{{incidentStatusChecked 'revoked'}}")
          label(for="revoked" tabindex="0") Revoked

    .form-group.check-buttons(class="{{suggestedField 'cases'}} {{suggestedField 'deaths'}}")
      label.control-label Incident Type
      .container-flex.check-buttons.type.no-break
        .check-button
          input(
            type="radio"
            name="incidentType"
            id="cases"
            value="cases"
            tabindex="-1"
            checked="{{incidentTypeChecked 'cases'}}"
            required)
          label(for="cases" tabindex="0") Cases
        .check-button
          input(
            type="radio"
            name="incidentType"
            id="deaths"
            value="deaths"
            tabindex="-1"
            checked="{{incidentTypeChecked 'deaths'}}"
            required)
          label(for="deaths" tabindex="0") Deaths
        .check-button
          input(
            type="radio"
            name="incidentType"
            id="other"
            value="other"
            tabindex="-1"
            checked="{{incidentTypeChecked 'other'}}"
            required)
          label(for="other" tabindex="0") Other
      .help-block.with-errors

    if showCountForm
      .form-group(class="{{suggestedField 'cases'}} {{suggestedField 'deaths'}}")
        label.control-label #{selectedIncidentType} Count
        input.form-control(
          name="count"
          type="number"
          min="0"
          value=incidentData.value
          required
          tabindex="0")
        .help-block.with-errors

    if showOtherForm
      .form-group.space-top--1
        label.control-label Specify Other
        input.form-control(
          name="specify"
          id="specify"
          type="text"
          required
          value=incidentData.value
          tabindex="0")

    .form-group
      label.control-label Other Information
      .container-flex.other-metadata.check-buttons.no-break
        .check-button(class="{{suggestedField 'travelRelated'}}")
          input(
            type="checkbox"
            name="travelRelated"
            id="travelRelated"
            tabindex="-1"
            checked=incidentData.travelRelated)
          label.travel-related(for="travelRelated" tabindex="0") Travel Related

        .check-button(class="{{suggestedField 'cumulative'}}")
          input(
            type="checkbox"
            name="cumulative"
            id="cumulative"
            tabindex="-1"
            checked=incidentData.dateRange.cumulative)
          label.cumulative(for="cumulative" tabindex="0") Cumulative

    button.hidden(type="submit")
