template(name="incidentModal")
  .incident-report.modal.modal-skinny(
    role="dialog"
    class=classNames)
    .modal-dialog
      .modal-content
        .modal-header
          +modalCloseButton
          .modal-header--title
            h4
              if edit
                | Edit
              else
                | Add
              |  Item
        .modal-body
          if edit
            +incidentForm(
              articles=articles
              incident=incident
              edit=true
              valid=valid)
          else
            +incidentForm articles=articles valid=valid

        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          if add
            button.btn.btn-primary.save-incident-duplicate(type="button")
              | Save then Duplicate
          button.btn.btn-primary.btn-wide.save-incident(type="button") Save
