template(name="incidentTable")
  if incidents.length
    .incident-reports--actions.container-flex.no-break
      button.btn.btn-sm.action(
        disabled="{{#unless incidentsSelected}} true {{/unless}}"
        class="btn-{{#if acceptance}}success{{else}}danger{{/if}}") #{action} Locations
      button.btn.btn-sm.btn-default.select(
        class="{{#if allSelected}} deselect-all {{else}} select-all {{/if}}")
        if allSelected
          | Deselect All
        else
          | Select All
    if addEvent
      +addToEvent(
        selectedIncidents=selectedIncidents
        tableContentScrollable=tableContentScrollable
        source=source)
    .table-wrapper
      table.table.incident-table(
        hidden=annotatedContentVisible
        data-tableexport-display="always")
        unless hideTableHeader
          thead
            tr
              th
              th.locations-header Locations
        tbody
          each incidents
            tr
              td
                span.select(class="{{#if selected}} selected {{/if}}")
              td {{formatLocations locations}}
      .container-flex.central.space-top-2

  else
    +noResults message="No incidents found"
