template(name="incidentTable")
  if incidents.length
    .incident-reports--actions.container-flex.no-break
      button.btn.btn-sm.action.delete.btn-danger(
        disabled="{{#unless incidentsSelected}} true {{/unless}}") Delete
      button.btn.btn-sm.mark-field-work(
        disabled="{{#unless incidentsSelected}} true {{/unless}}") Field Work
      button.btn.btn-sm.mark-lab-work(
        disabled="{{#unless incidentsSelected}} true {{/unless}}") Lab Work
      button.btn.btn-sm.mark-other(
        disabled="{{#unless incidentsSelected}} true {{/unless}}") Other
      button.btn.btn-sm.btn-default.select(
        class="deselect-all") Deselect All
    .table-wrapper
      table.table.incident-table(
        hidden=annotatedContentVisible
        data-tableexport-display="always")
        unless hideTableHeader
          thead
            tr
              th
              th.locations-header Locations
        tbody
          each incidents
            tr(data-incident-id=_id)
              td
                span.select(class="{{#if selected}} selected {{/if}}")
              if ignore
                td.open-incident
                  i Ignored
                  p=snippet
              else
                td.open-incident
                  b {{formatLocations locations useHTML=true}}
                    if researchActivities.fieldWork
                      span.field-work [Field Work]
                    if researchActivities.labWork
                      span.lab-work [Lab Work]
                    if researchActivities.other
                      span.other-research-activities [Other Research Activities]
                  p=snippet
              td
                ul.actions.container-flex.list-unstyled.no-break
                  li.view
                    i.fa.fa-eye
      .container-flex.central.space-top-2

  else
    +noResults message="No annotations found. They might not have loaded yet."
