template(name="incidentForm")
  form#add-incident(novalidate)
    .add-incident--wrapper
      .form-group.form-group--full
        label.control-label Location
        .note Indicate the location referenced by the highlighted text.
          | Select either a GeoName matching the location indicated by the text, "No Matching GeoName", or "Coordinates".
        +locationSelect2(
          selectId="incident-location-select2"
          multiple=true
          selected=incidentData.locations)
        .form-group
          .container-flex.no-break
            .check-button.locationNotFound
              input(
                type="radio"
                name="locationNotFound"
                id="locationNotFound"
                value="locationNotFound"
                checked=locationNotFound
                tabindex="-1")
              label(for="locationNotFound" tabindex="0") No Matching GeoName
            .note The highlighted text is a place name mention, but no matching GeoName can be found in the drop-down menu.
          .container-flex.no-break
            .check-button.coordinates
              input(
                type="radio"
                name="coordinates"
                id="coordinates"
                value="coordinates"
                checked=coordinates
                tabindex="-1")
              label(for="coordinates" tabindex="0") Coordinates
            .note The highlighted text references a location with longitude and latitude coordinates.
          hr
          .container-flex.no-break
            .check-button.study-site
              input(
                type="radio"
                name="studySite"
                id="studySite"
                value="studySite"
                checked=studySite
                tabindex="-1")
              label(for="studySite" tabindex="0") Location of Field Work
            .note This mention of the highlighted location describes where field work was conducted for this study.
          hr
          label.control-label Non-Location
          .container-flex.no-break
            .check-button.ignore
              input(
                type="radio"
                name="ignore"
                id="ignore"
                value="ignore"
                checked=ignore
                tabindex="-1")
              label(for="ignore" tabindex="0") Ignore
            .note Select this to mark the highlighted section of the document as "Ignored".
              | Use this to indicate any text that was skipped because it was garbled or unreadable for some reason.
              | This option should not be used for place names.
        .help-block.with-errors

      button.hidden(type="submit" aria-hidden="true")
