template(name="incidentForm")
  form#add-incident(novalidate)
    .add-incident--wrapper
      .form-group.form-group--full
        label.control-label Location. Describe the location represented by the highlighted text.
        .note Search for and select one GeoName that represents the location referred to by the highlighted text.
        +locationSelect2(
          selectId="incident-location-select2"
          multiple=true
          selected=incidentData.locations)
        .form-group
          .container-flex.no-break
            .check-button.locationNotFound
              input(
                type="radio"
                name="locationNotFound"
                id="locationNotFound"
                value="locationNotFound"
                checked=locationNotFound
                tabindex="-1")
              label(for="locationNotFound" tabindex="0") No Matching GeoName
            .note Indicates that the highlighted text is a toponym mention, but no matching GeoName can be found.
          .container-flex.no-break
            .check-button.coordinates
              input(
                type="radio"
                name="coordinates"
                id="coordinates"
                value="coordinates"
                checked=coordinates
                tabindex="-1")
              label(for="coordinates" tabindex="0") Coordinates
            .note Indicates that the highlighted text references a location with longitude and latitude coordinates.
          hr
          label.control-label Description of Research Activities. If the toponym mention is part of a description of research activities for this paper, pick the most appropriate option.
          .container-flex.no-break
            .check-button.field-work
              input(
                type="radio"
                name="fieldWork"
                id="fieldWork"
                value="fieldWork"
                checked=researchActivities.fieldWork
                tabindex="-1")
              label(for="fieldWork" tabindex="0") Description of Research Activities: Field Work
            .note Field work conducted outside of a research institution, such as sample collection.
          .container-flex.no-break
            .check-button.lab-work
              input(
                type="radio"
                name="labWork"
                id="labWork"
                value="labWork"
                checked=researchActivities.labWork
                tabindex="-1")
              label(for="labWork" tabindex="0") Description of Research Activities: Lab Work
            .note Work done in a laboratory or similar environment, such as genomic or other biological assays.
          .container-flex.no-break
            .check-button.research-other
              input(
                type="radio"
                name="other"
                id="other"
                value="other"
                checked=researchActivities.other
                tabindex="-1")
              label(for="other" tabindex="0") Description of Research Activities: Other
            .note All other research activities.
          hr
          label.control-label Non-Location
          .container-flex.no-break
            .check-button.ignore
              input(
                type="radio"
                name="ignore"
                id="ignore"
                value="ignore"
                checked=ignore
                tabindex="-1")
              label(for="ignore" tabindex="0") Ignore
            .note Select this to mark the highlighted section of the document as "Ignored".
              | Use this to indicate any text that was skipped because it was garbled or unreadable for some reason.
              | This option should not be used for place names.
        .help-block.with-errors

      button.hidden(type="submit" aria-hidden="true")
