template(name="incidentForm")
  form#add-incident(novalidate)
    .add-incident--wrapper
      if confirmation
        input(type="hidden" name="articleSourceUrl" value=articleSourceUrl)
      else
        .form-group.form-group--full
          label.control-label.with-info-tooltip(
            data-toggle="tooltip"
            data-placement="right"
            title="URL of the article where the incident was reported."
          ) Source URL
          if incidentData.url
            input.form-control(readonly value=incidentData.url name="articleSourceUrl")
          else
            +articleSelect2(
              selectId="articleSource"
              articles=articles
              selected=incidentData.url
              placeholder='Select a source')
            .help-block.with-errors

      .form-group.form-group--full(class="{{suggestedField 'locations'}}")
        label.control-label Location
        +locationSelect2(
          selectId="incident-location-select2"
          multiple=false
          selected=incidentData.locations
          required=true)
        .form-group
          label.control-label Check this if locations in the highlighted span should be ignored during classifier training/testing due to ambiguity or other problems.
          .container-flex.no-break
            .check-button.ignore
              input(
                type="radio"
                name="ignore"
                id="ignore"
                value="ignore"
                checked=ignore
                tabindex="-1")
              label(for="ignore" tabindex="0") Ignore
        .help-block.with-errors

      button.hidden(type="submit" aria-hidden="true")
