template(name="incidentModal")
  .modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          +modalCloseButton
          if edit
            h4.modal-title Edit Incident Report
          else
            h4.modal-title Add Incident Report
        .modal-body

          form#add-incident(novalidate)
            .form-group
              label.control-label Article URL
              +articleSelect2 selectId="articleSource" articles=articles selected=incidentData.articleSource

            .form-group
              label.control-label Date
              ul.nav.nav-tabs.secondary-tabs(role="tablist")
                li(role="presentation" class="{{dayTabClass}}")
                  a(href="#singleDate" aria-controls="single Date" role="tab" data-toggle="tab") Single Date
                li(role="presentation" class="{{rangeTabClass}}")
                  a(href="#preciseRange" aria-controls="date range" role="tab" data-toggle="tab") Date Range

              .tab-content
                #singleDate.tab-pane(role="tabpanel" class="{{dayTabClass}}")
                  #singleDatePicker.inlineRangePicker

                #preciseRange.tab-pane(role="tabpanel" class="{{rangeTabClass}}")
                  #rangePicker.inlineRangePicker

            .form-group
              label.control-label Location
              +locationSelect2 selectId="incident-location-select2" multiple="true" selected=incidentData.locations

            .form-group
              label.control-label Species
              input.form-control(type="text" name="species" value=incidentData.species)

            .form-group
              label.control-label Status
              ul.status.pill-selector
                li(data-value="suspected" class="{{statusActive 'suspected'}}") Suspected
                li(data-value="confirmed" class="{{statusActive 'confirmed'}}") Confirmed
                li(data-value="revoked" class="{{statusActive 'revoked'}}") Revoked

            .form-group
              label.control-label Incident Type
              ul.type.pill-selector
                li(data-value="cases" class="{{typeActive 'cases'}}") Cases
                li(data-value="deaths" class="{{typeActive 'deaths'}}") Deaths
                li(data-value="other" class="{{typeActive 'other'}}") Other

            if showCountForm
              .form-group
                label.control-label #{type} Count
                input.form-control(name="count" type="number" min="0" required value=incidentData.value)

            if showOtherForm
              .form-group
                label.control-label Specify Other
                input.form-control(name="other" type="text" required value=incidentData.value)

            .form-group
              label.control-label Other Information
              .container-flex.other-metadata
                ul.travel-related.pill-selector
                  li(class="{{#if travelRelated}} active {{/if}}") Travel related

                ul.cumulative.pill-selector
                  li(class="{{#if cumulative}} active {{/if}}") Cumulative

        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          if add
            button.btn.btn-primary.save-modal-duplicate(type="button") Save then Duplicate
          button.btn.btn-primary.save-modal(type="button") Save
