template(name="newIncidentFromSelection")
  .new-incident-from-selection(
    class="{{#if scrolled}} positioned {{/if}}"
    style="left: #{leftPosition}; top: #{topPosition}; bottom: #{bottomPosition}")
    button.btn.btn-warning.add-incident-from-selection
      span.main-action Add Location
      span.text=annotatedText
