template(name="suggestedIncidentsModal")
  .modal.fade#suggestedIncidentsModal(role="dialog")
    .modal-dialog.suggested-incidents
      .modal-content
        .modal-header
          +modalCloseButton
          .modal-header--title
            h4 Suggested Incident Reports
            span.annotation-count=annotatedCount
          if showTable
            ul.tabs.tabs-traditional.tabs-secondary.tabs-modal-header.list-unstyled
              li.active
                a(
                  href="#suggested-locations-form"
                  data-tab="text"
                  role="tab"
                  data-toggle="tab") Source Text
              li
                a(
                  href="#incident-table"
                  role="tab"
                  data-tab="tabs"
                  data-toggle="tab") Incident Report Table
        .modal-body
          .suggested-incidents-wrapper.tab-content
            #suggested-locations-form.form-horizontal.tab-pane.active(role="tabpanel")
              if loading
                i.fa.fa-circle-o-notch.fa-spin
                | Processing article
              else
                unless incidentsFound
                  .warn No incident reports could be automatically extracted from the article.
                p.annotated-content=annotatedContent
                hr
            if showTable
              #incident-table.table.incident-table.tab-pane(role="tabpanel")
                thead
                  tr
                    th.count-header Case Count
                    th.count-header Death Count
                    th Start Date
                    th End Date
                    th.locations-header Locations
                tbody
                  each incidents
                    tr
                      td.count(data-incident-id=_id)=cases
                      td.count(data-incident-id=_id)=deaths
                      td
                        unless dateRange.cumulative
                          | {{formatDateISO dateRange.start}}
                      td {{formatDateISO dateRange.end}}
                      td {{formatLocations locations}}
        .modal-footer
          button.btn.btn-default.confirm-close-modal(type="button" data-dismiss="modal") Close
          if showTable
            button.btn.btn-default#save-csv(type="button" data-type="csv") Save CSV
          else
            button.btn.btn-default#non-suggested-incident(type="button") Add New Incident
            button.btn.btn-primary#add-suggestions(type="button") Add Confirmed Suggestions
