template(name="suggestedIncidentsModal")
  .modal#suggestedIncidentsModal.off-canvas--right.flex.fade(role="dialog")
    .modal-dialog.suggested-incidents
      .modal-content
        .modal-header
          +modalCloseButton
          .modal-header--title
            h4 Suggested Incident Reports
            span.annotation-count=annotatedCount
          .container-flex(class="{{#if showTable}} flex-reverse {{/if}}")
            ul.color-legend.list-unstyled.container-flex.no-break(
              class="{{#if showTable}} with-tabs {{else}} on-left {{/if}}")
              li.color-legend--accepted Accepted
              li.color-legend--rejected Unconfirmed/Rejected
            if showTable
              ul.tabs.tabs-traditional.tabs-secondary.tabs-modal-header.list-unstyled
                li(class="{{#if annotatedContentVisible}}active{{/if}}")
                  a.annotated-content Source Text
                li(class="{{#if tableVisible}}active{{/if}}")
                  a.incident-table Incident Report Table
        .modal-body
          .suggested-incidents-wrapper.tab-content
            #suggested-locations-form.form-horizontal(hidden=tableVisible)
              if isLoading
                +loading(message="Processing Article")
              else
                unless incidentsFound
                  .no-incident-reports No incident reports could be automatically extracted from the article.
                p.annotated-content(
                  class="{{#unless incidentsFound}} space-top-4 {{/unless}}")=annotatedContent
            if showTable
              +extractedIncidents incidents=incidents annotatedContentVisible=annotatedContentVisible
        .modal-footer
          button.btn.btn-default.confirm-close-modal(type="button" data-dismiss="modal") Close
          if showTable
            button.btn.btn-default#save-csv(type="button" data-type="csv") Download CSV
          else
            button.btn.btn-default#non-suggested-incident(type="button") Add New Incident
            button.btn.btn-primary#add-suggestions(type="button") Add Confirmed Suggestions
