template(name="suggestedIncidentModal")
  .modal.fade#suggestedIncidentModal(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          +modalCloseButton
          .modal-header--title
            h4 Edit and Confirm Incident Report
            if hasSuggestedFields
              p.warning Fields marked with the #[i(class='fa fa-magic')] icon are suggestions
        .modal-body
          .annotated-content.snippet.modal-block
            .snippet--title-legend
              label.control-label.featured.container-flex.no-break
                h5 Source Snippet
                ul.color-legend.list-unstyled.container-flex.no-break
                  each type
                    li(class="color-legend--#{this}")=this
            .snippet--text=incidentText
          +incidentForm(
            articles=articles
            incident=incident
            edit=true)
        .modal-footer
          button.btn.btn-default.reject(type="button" data-dismiss="modal") Reject
          button.btn.btn-primary.save-modal(type="button") Confirm
