template(name="editEventDetailsModal")
  #edit-event-modal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        form#editEvent(novalidate)
          +modalCloseButton
          .modal-header
            .modal-header--title
              h4
                if adding
                  | Add New Event
                else
                  | Edit Event Details
          .modal-body.clearfix
            unless confirmingDeletion
              .form-group
                label Event Name
                input.form-control(type='text' name='eventName' value=eventName required)
              unless adding
                .form-group
                  label Event Disease
                  input.form-control(type="text" name="eventDisease" value=disease)
              .form-group
                label Event Summary
                textarea.form-control(name="eventSummary" rows="15")= summary
            else
              +deleteConfirmationModalBody(
                objId=_id
                displayName=eventName
                objNameToDelete='event'
                allowEdit=true)

          unless confirmingDeletion
            .modal-footer
              unless adding
                button.btn.btn-danger.delete-event.pull-left(type="button") Delete Event
              button.btn.btn-default(type="button" data-dismiss="modal") Cancel
              button.btn.btn-success.btn-wide.save-modal(type="submit")
                if saveActionMessage
                  {{saveActionMessage}}
                 else
                  | Save
