template(name="locationList")
  .container-flex.no-gutter
    .flex-col.bordered
      if incidentLocations.length
        .tab-form
          +reactiveTableFilter(
            id="locationFilter"
            label=" "
            class="input-group table-filter")
        +reactiveTable collection=incidentLocations settings=getSettings
      else
        p No locations are associated with this event.
    .flex-col
      if incidentLocations.length
        +map event=userEvent incidentLocations=incidentLocations
  #proMedModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          +modalCloseButton
          h4
            a#proMedURL
        .modal-body
          iframe#proMedIFrame
