template(name="summary")
  .container-flex
    .event--details
      .event-name-wrap
        h1.event-name= eventName
        if isInRole "admin"
          i.fa.fa-edit.edit-event-details(
            data-toggle="modal"
            data-target="#edit-event-modal"
            data-editing='name')
      p.disease-name
        if disease
          span= disease
        else
          span.not-available No disease available.
          if isInRole "admin"
            i.fa.fa-plus-circle.edit-event-details(
              data-toggle="modal"
              data-target="#edit-event-modal"
              data-editing='disease')

      if summary
        p.summary(class="{{#if collapsed}}collapsed{{/if}}")
          span= summary
        if collapsed
          a.expand Expand
      else
        p.summary.not-available
          span No summary available.
          if isInRole "admin"
            i.fa.fa-plus-circle.edit-event-details(
              data-toggle="modal"
              data-target="#edit-event-modal"
              data-editing='summary')
    .event--metadata.container-flex
      .event--metadata--counts.container-flex.no-gutter.no-break
        .count.flex-col
          span= caseCount
          h4 Incident Reports
          if isInRole "admin"
            +addIncidentReport class='-in-details'
        .count.flex-col
          span= articleCount
          h4 Sources
          if isInRole "admin"
            +sourceModalButton class='-in-details'
      .event--metadata--secondary-content.container-flex.no-break
        .secondary-content
          p Created by: #{createdByUserName} on {{formatDate creationDate}}
        .secondary-content
          p Last Modified by: #{lastModifiedByUserName} on
            | {{formatDate lastModifiedDate}}
        .secondary-content
          button.copy-link.btn.btn-xs.btn-default(
            type="button"
            data-clipboard-text="{{urlFor 'user-event'}}"
            class="{{#if copied}} copied {{/if}}")
            if copied
              i.fa.fa-check
              span Coppied
            else
              i.fa.fa-share-alt
              span Copy Event Link

  +editEventDetailsModal
