template(name="summary")
  .container-flex
    .event--details
      .event-name-wrap
        h1.event-name= eventName
        if isInRole "admin"
          +editDetailsButton(target="#edit-event-modal" editing="name")

      if summary
        p.summary(class="{{#if collapsed}}collapsed{{/if}}")
          span= summary
        if collapsed
          a.expand(tabindex="0") Expand full event summary
      else
        p.summary.not-available
          span No summary available.
          if isInRole "admin"
            +editDetailsButton(target="#edit-event-modal" editing="summary")

    .event--metadata.container-flex
      .event--metadata--counts.container-flex.no-gutter.no-break
        .count.flex-col
          span= caseCount
          h4 Incident Reports
          if isInRole "admin"
            +addIncidentReport class='-in-details'
        .count.flex-col
          span= articleCount
          h4 Sources
          if isInRole "admin"
            +sourceModalButton class='-in-details'
      .event--metadata--secondary-content.container-flex.no-break
        .secondary-content
          p Created by: #{createdByUserName} on {{formatDate creationDate}}
        .secondary-content
          p Last Modified by: #{lastModifiedByUserName} on
            | {{formatDate lastModifiedDate}}
        .secondary-content
          button.copy-link.btn.btn-xs.btn-default(
            type="button"
            data-clipboard-text="{{urlFor 'user-event'}}"
            class="{{#if copied}} copied {{/if}}")
            if copied
              i.fa.fa-check(aria-hidden="true")
              span Coppied
            else
              i.fa.fa-share-alt(aria-hidden="true")
              span Copy Event Link

  +editEventDetailsModal
