template(name="userEvents")
  .user-events
    .container-fluid-padded.page-heading.container-flex.no-break
      h1 Tracked Events
      .page-options.container-flex.no-break.vertically-centered
        if isInRole "admin"
          button.btn.btn-primary(
            data-toggle="modal"
            data-target="#create-event-modal")
            i.fa.fa-plus-circle
            span Create New Event
        +reactiveTableFilter(
          id="eventFilter"
          label=" "
          class="event-search with-icon no-addon page-options--search")

    .featured-table
      .loading
      +reactiveTable collection="userEvents" settings=settings

    if isInRole "admin"
      +createEventModal
